name: Trunk Push

on:
  push:
    branches: trunk

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.8
      - run: npm ci
      - name: Run Linter
        run: npm run lint
      - name: Run Tests
        run: docker-compose run test-app
